!!! 5
%html
  %head
  
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  %title Energotec Landing Page

  %script{:type => "text/javascript", :src  => "js/vendor/jquery-1.9.1.min.js"}
  %script{:type => "text/javascript", :src  => "js/vendor/jquery.easing.1.3.js"}
  %script{:type => "text/javascript", :src  => "js/vendor/jquery.superslides.min.js"}
  %script{:type => "text/javascript", :src  => "js/main.js"}

  %link{:rel => "stylesheet", :href => "style.css"}

  %body#page-top
    %header.navigation{:role => "banner"}
      .navigation-wrapper
        %a.logo{:href => "javascript:void(0)"}
          %img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png", :alt => "Logo Image"}
        %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
        %nav{:role => "navigation"}
          %ul#js-navigation-menu.navigation-menu.show
            %li.nav-link
              %a{:href => "javascript:void(0)"} La Empresa
            %li.nav-link.more
              %a{:href => "javascript:void(0)"} Productos
              %ul.submenu
                - (1..3).each do |i|
                  %li
                    %a{:href => "javascript:void(0)"} Submenu Item #{i}
            %li.nav-link.more
              %a{:href => "javascript:void(0)"} Servicios
              %ul.submenu
                - (1..5).each do |i|
                  %li
                    %a{:href => "javascript:void(0)"} Submenu Item #{i}
            %li.nav-link
              %a{:href => "javascript:void(0)"} Marcas
            %li.nav-link
              %a{:href => "javascript:void(0)"} Clientes
            %li.nav-link
              %a{:href => "javascript:void(0)"} Contacto

    // Main section

    %section.intro
      .intro-body
        .loading-container
          .pulse
        #slides
          .slides-container
            - (1..3).each do |i|
              %img{:src => "images/landing-#{i}.jpg"}

          %nav.slides-navigation
            %a.next{:href => "#"} Next
            %a.prev{:href => "#"} Prev

    %section.content-section
      contenido 2

    %section.content-section
      contenido 3

    %section.content-section
      contenido 4file:///Users/teclalabs/GitHub/Energotec/template/images/landing-2.jpg