<!DOCTYPE html>
<html>
  <head></head>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <title>Energotec Landing Page</title>
  <script src='js/vendor/jquery-1.9.1.min.js' type='text/javascript'></script>
  <script src='js/vendor/jquery.easing.1.3.js' type='text/javascript'></script>
  <script src='js/vendor/jquery.hammer.min.js' type='text/javascript'></script>
  <script src='js/vendor/jquery.superslides.min.js' type='text/javascript'></script>
  <script src='js/main.js' type='text/javascript'></script>
  <link href='style.css' rel='stylesheet'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <body id='page-top'>
    <header class='navigation' role='banner'>
      <div class='header-bg-left js-bg-left'></div>
      <div class='navigation-wrapper'>
        <div class='wrapper-logo'>
          <div class='content-logo'>
            <a class='logo' href='javascript:void(0)'>
              <img alt='Logo Image' src='images/energotec-logo.png'>
            </a>
          </div>
        </div>
        <a class='navigation-menu-button' href='javascript:void(0)' id='js-mobile-menu'>MENU</a>
        <nav role='navigation'>
          <ul class='navigation-menu show' id='js-navigation-menu'>
            <li class='nav-link'>
              <a href='javascript:void(0)'>La Empresa</a>
            </li>
            <li class='nav-link more'>
              <a href='javascript:void(0)'>Productos</a>
              <ul class='submenu'>
                <li>
                  <a href='javascript:void(0)'>Submenu Item 1</a>
                </li>
                <li>
                  <a href='javascript:void(0)'>Submenu Item 2</a>
                </li>
                <li>
                  <a href='javascript:void(0)'>Submenu Item 3</a>
                </li>
              </ul>
            </li>
            <li class='nav-link more'>
              <a href='javascript:void(0)'>Servicios</a>
              <ul class='submenu'>
                <li class='more'>
                  <a href='javascript:void(0)'>Submenu Item 1</a>
                  <ul class='submenu'>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 1</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 2</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 3</a>
                    </li>
                  </ul>
                </li>
                <li class='more'>
                  <a href='javascript:void(0)'>Submenu Item 2</a>
                  <ul class='submenu'>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 1</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 2</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 3</a>
                    </li>
                  </ul>
                </li>
                <li class='more'>
                  <a href='javascript:void(0)'>Submenu Item 3</a>
                  <ul class='submenu'>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 1</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 2</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 3</a>
                    </li>
                  </ul>
                </li>
                <li class='more'>
                  <a href='javascript:void(0)'>Submenu Item 4</a>
                  <ul class='submenu'>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 1</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 2</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 3</a>
                    </li>
                  </ul>
                </li>
                <li class='more'>
                  <a href='javascript:void(0)'>Submenu Item 5</a>
                  <ul class='submenu'>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 1</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 2</a>
                    </li>
                    <li>
                      <a href='javascript:void(0)'>Sub Sub Item 3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class='nav-link'>
              <a href='javascript:void(0)'>Marcas</a>
            </li>
            <li class='nav-link'>
              <a href='javascript:void(0)'>Clientes</a>
            </li>
            <li class='nav-link'>
              <a href='javascript:void(0)'>Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- / Main section -->
    <section class='intro'>
      <div class='intro-body'>
        <div class='loading-container'>
          <div class='pulse'></div>
        </div>
        <div id='slides'>
          <ul class='slides-container'>
            <li>
              <img src='images/landing-1.jpg'>
              <div class='slide-container'>
                <h2>Lorem ipsum ad his scripta blandit partiendo 1</h2>
                <p>Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id 1</p>
              </div>
            </li>
            <li>
              <img src='images/landing-2.jpg'>
              <div class='slide-container'>
                <h2>Lorem ipsum ad his scripta blandit partiendo 2</h2>
                <p>Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id 2</p>
              </div>
            </li>
            <li>
              <img src='images/landing-3.jpg'>
              <div class='slide-container'>
                <h2>Lorem ipsum ad his scripta blandit partiendo 3</h2>
                <p>Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id 3</p>
              </div>
            </li>
          </ul>
          <nav class='slides-navigation'>
            <a class='fa fa-angle-left prev' href='#'></a>
            <a class='fa fa-angle-right next' href='#'></a>
          </nav>
        </div>
        <div class='intro-bottom'>
          <div class='relative'>
            <a class='btn' href='javascript:void(0)'>
              VER PRODUCTOS
              <i class='fa fa-angle-right'></i>
            </a>
            <ul class='footer-social'>
              <li>
                <span>SÍGUENOS</span>
              </li>
              <li>
                <a href='javascript:void(0)'>
                  <i class='fa fa-facebook'></i>
                </a>
              </li>
              <li>
                <a href='javascript:void(0)'>
                  <i class='fa fa-twitter'></i>
                </a>
              </li>
            </ul>
            <div class='view-sect2'>
              <div class='table'>
                <a class='down-arrow' href='javascript:void(0)'></a>
                <div class='down-text'>Click para deslizar hacia abajo</div>
              </div>
            </div>
          </div>
        </div>
        <div class='intro-right'>
          <a class='button' href='javascript:void(0)'>
            <i class='fa fa-bus'></i>
          </a>
          <a class='button' href='javascript:void(0)'>
            <i class='fa fa-check'></i>
          </a>
          <a class='button' href='javascript:void(0)'>
            <i class='fa fa-gear'></i>
          </a>
          <a class='button' href='javascript:void(0)'>
            <i class='fa fa-child'></i>
          </a>
        </div>
      </div>
    </section>
    <section class='content-section'>
      contenido 2
    </section>
    <section class='content-section'>
      contenido 3
    </section>
    <footer class='footer' role='contentinfo'>
      <div class='container'>
        <div class='footer-links'>
          <ul>
            <li>
              <h3>Content</h3>
            </li>
            <li>
              <a href='#'>Herramientas</a>
            </li>
            <li>
              <a href='#'>Equipos para minería</a>
            </li>
            <li>
              <a href='#'>Equipos Industriales</a>
            </li>
            <li>
              <a href='#'>Instrumentanción Industrial</a>
            </li>
          </ul>
          <ul>
            <li>
              <h3>Servicios</h3>
            </li>
            <li>
              <a href='#'>Servicio Técnico</a>
            </li>
            <li>
              <a href='#'>Reparación de aros</a>
            </li>
            <li>
              <a href='#'>Amplio Stock</a>
            </li>
          </ul>
          <ul>
            <li>
              <h3>Nuestras Sedes</h3>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-facebook'></i>
                Facebook
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-twitter'></i>
                Twitter
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-play'></i>
                Youtube
              </a>
            </li>
          </ul>
        </div>
        <div class='footer-text'>
          <div class='footer-data'>
            <ul>
              <li>
                <i class='fa fa-map-marker'></i>
                Calle Los Plásticos 204 - Urb. Vulcano Ate - Vitarte. Lima 03 Perú
              </li>
              <li>
                <i class='fa fa-phone'></i>
                Central: (511) 348 7570
              </li>
              <li>
                <i class='fa fa-fax'></i>
                Fax: (511) 3480750
              </li>
              <li>
                <i class='fa fa-envelope'></i>
                E-mail:
                <a href='mailtoventas@energotecsac.com'>ventas@energotecsac.com</a>
              </li>
            </ul>
          </div>
          <div class='footer-copyright'>
            ENERGOTEC S.A.C. ©2007. Todos los derechos reservados.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
